<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/kep_layout}">

    <body>
        <section layout:fragment="content">
            <h2>추천 도서</h2>
            <div class="container">
                <article class="item" th:each="book : ${books}">
                    <div class="card">
                        <div class="bookCover">
                            <a href="detail.html" th:href="@{'/detail/' + ${book.bookId}}">
                                <img alt="이미지" th:src="${book.imageUrl}" width="100px" height="150px">
                            </a>
                        </div>
                        <div class="bookDesc">
                            <div class="bookTitle" th:text="${book.name}">제목</div><br>
                            <div class="bookAuthor" th:text="${book.writer}">저자</div>
                            <div class="bookAuthor" th:text="${book.company}">출판사</div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </body>

</html>